<div id=sidebar>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title sidebar-header" id="offcanvasExampleLabel">Sample App</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <ul class="nav flex-column">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link active" aria-current="page" [routerLink]="['contacts']">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
